$CardContainerBackground : #231E39;
$CardContainerColor: #B3B8CD;

$ProBackground : #FEBB0B;
$ProColor: #231E39;

$RoundBorderColor : #03BFCB;

$ButtonPrimaryBackground: $RoundBorderColor;
$ButtonPrimaryColor: $ProColor;
$ButtonPrimaryGhostColor: $RoundBorderColor;


$ButtonCloseBackground: #ed6755;
$ButtonCloseColor: $ButtonCloseBackground;
$ButtonSuccessBackground : #b721ff;
$ButtonSuccessColor: $ButtonSuccessBackground;